PROTOCOL="https"
BASE_URL="api.openweathermap.org/geo/1.0/direct"
Q="" #cidade que o usuário digitou
LIMIT=2
APPID="sua_chave_aqui"

PROTOCOL="https"
BASE_URL="api.openweathermap.org/data/2.5/weather"
LAT="" #vai receber a latitude vinda da pesquisa da cidade 
LON="" #vai receber a longitude vinda da pesquisa da cidade
APPID="sua_chave_aqui"
UNITS="metric"
DESIRED_LANGUAGE="pt-br"